*{
    margin: 0;
    padding: 0;
  }
  html, body{
    height: 100%;
  }
  body{
    font-family: "Dimbo" !important;
    background-color: #57dbe4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1{
    text-align: center;
    margin-bottom: 1em;
  }
  .container{
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
  }
  
  .Card{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    animation: 2s hideCard linear;
    transition: transform 0.5s;
  }

  @keyframes hideBox{
    0%, 70%{
      transform: rotateY(0);
    }
    100%{
      transform: rotateY(180deg);
    }
  }
  .Card img{
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.5s;
    transform: scale(0);
    animation: 2s hideImage linear;
  }

  @keyframes hideImage{
    0%, 70%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }
  
  .Card.active{
    transform: rotateY(0);
  }
  .Card.true{
    background-color: #65e469;
  }
  .Card.false{
    background-color: #fd245a;
  }
  .Card.active img{
    transform: scale(1);
  }