.App {
    text-align: center;
  }
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.drag-box {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: 500px;
  height: 120px;
  background-color: lightblue;
}

.drop-board {
  border-radius: 10px;
  display: flex;
  justify-content: left;
  border: 10px solid rgb(255, 255, 255);
  width: 800px;
  height: 120px;
  background-color: lightgreen;
}



.itemshop{
  width: 100px;
  height: 100px;
}

.itemshop:hover{
  width: 100px;
  height: 100px;
}