.App {
    max-width: 900px;
    margin: 40px;
    background-color: rgb(198, 198, 255);
    border-radius: 10px;
  }
  
  button{
    background: none;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 1em;
  }
  
  button:hover{
    background: orange;
    colour: white;
  }
  
  .card-pic{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  
  