*{
    margin: 0;
    padding: 0;
  }
  
  #quit{
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(184, 28, 28);
  }
  
  #restart{
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(130, 149, 255);
  }
  
  #finish{
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(0, 187, 115);
  }
  

  h1{
    text-align: center;
    margin-bottom: 1em;
  }
  .container{
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
  }
  
  .card{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    animation: 2s hideCard linear;
    transition: transform 0.5s;
  }
  @keyframes hideCard{
    0%, 70%{
      transform: rotateY(0);
    }
    100%{
      transform: rotateY(180deg);
    }
  }
  .card img{
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.5s;
    transform: scale(0);
    animation: 2s hideImage linear;
  }
  @keyframes hideImage{
    0%, 70%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }
  
  .card.active{
    transform: rotateY(0);
  }
  .card.true{
    background-color: #65e469;
  }
  .card.false{
    background-color: #fd245a;
  }
  .card.active img{
    transform: scale(1);
  }