.card{
    position: relative;
}

  /* flipping card */
  .card .depan{
      transform: rotateY(90deg);
      transition: all ease-in 0.3s;
      position: absolute;
  }

  .flipped .depan{
      transform: rotateY(0deg);
      transition: all ease-in 0.3s;
  }

  /* animasi */
  .card .belakang {
      transition: all ease-in 0.3s;
      transition-delay: 0.3s;
  }

  .flipped .belakang{
    transform: rotateY(90deg);
    transition-delay: 0s;
}