body {
    cursor: url('components/asset/cursor/cursor_normal.png'), auto;
    font-family: "Dimbo" !important;
    overflow: auto;
    overflow-x: hidden;
    background-color: bisque !important;
    
    /*scrollbar*/
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

@font-face {
    font-family: "Dimbo";
    src: url(components/asset/font/Dimbo\ Regular.ttf);
}

.gridItems{
    border: 1px solid rgb(8, 3, 3, .3);
}